#step-2 {
	.form-control {
		display: block !important;
		width: 100%;	
	}

	.your-details {
		.dob-helper-text {
			span { font-weight: bold; }
		}
	}

	.your-plan-to-take-part {
		.remove-family-team-member {
			text-decoration: underline;
		}
	}
}